@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('../material-theme/theme.css');

.myAppBar {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 6px;
    height: 64px;
}

:root p {
    font-family: "Roboto";
}

.title {
    text-align: center;
    margin: auto;
    padding-right: 24px;
}

body {
    margin: 0;
}

.icon-button {
    background: transparent;
    border: none;
    height: 48px;
    justify-content: center;
    align-items: center;
    width: 48px;
    display: flex;
    flex-direction: column;
}

.icon-button img {
    height: 46px;
    width: 46px;
    margin: auto;
}

/*Тут будет крутой hovered эффект*/
.icon-button img:hover {
    background: #49454F14;
    border-radius: 50%;
}

.navigation-rail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 -56px;
    width: 80px;
    height: 100%;
}

.fab {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 56px;
    height: 56px;
    margin: 12px;
    border: none;
    border-radius: 16px;
}

.fab img {
    margin: auto;
    width: 24px;
    height: 24px;
}

.fab:hover {
    background: #EFCCB3;

}

.navs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 56px;
    margin: 40px 12px 12px;
}

.icon {
    width: 24px;
    height: 24px;
}

.naaav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.nav.active img {

}

.nav p {
    /*font-weight: bold;*/
    margin-top: 10px;
    font-size: 13px;
}

.nav:link {
    text-decoration: none;
}

.nav:visited {
    text-decoration: none;
}

#editor {
    display: flex;

    justify-content: center;
    align-items: center;
    width: 100%;
}

#editor form {
    display: flex;
    flex-direction: column;
}


#inputFile::file-selector-button, #submit {
    background: var(--md-sys-color-primary);
    border-radius: 20px;
    color: var(--md-sys-color-on-primary);
    padding: 5px 20px;
    border: none;
}

#inputFile, #submit {
    margin: 10px 0px;
}

#preview{
    width: 100%;
    height: 100%;
}

.content{
    width: 100%;
    height: 100%;
}

body{
    height: 100vh;
}

body div{
    height: 100%;
}

iframe::content{
    padding: 0;

}

.area{
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    margin: 10px;
    font-family: "JetBrains Mono", serif;
}
