@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('../material-theme/theme.css');

.myAppBar {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 6px;
    height: 7%;
}

:root p {
    font-family: "Roboto";
}

.title {
    text-align: center;
    margin: auto;
    padding-right: 24px;
}

body {
    margin: 0;
}

.icon-button {
    background: transparent;
    border: none;
    height: 48px;
    justify-content: center;
    align-items: center;
    width: 48px;
    display: flex;
    flex-direction: column;
}

.icon-button img {
    height: 46px;
    width: 46px;
    margin: auto;
}

/*Тут будет крутой hovered эффект*/
.icon-button img:hover {
    background: #49454F14;
    background-size: 48px;
    border-radius: 50%;
}

.navigation-rail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 -56px;
    width: 80px;
    height: 100%;
}

.fab {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 56px;
    height: 56px;
    margin: 12px;
    border: none;
    border-radius: 16px;
}

.fab img {
    margin: auto;
    width: 24px;
    height: 24px;
}

.fab:hover {
    background: #EFCCB3;

}

.navs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 56px;
    margin: 40px 12px 12px;
}

.icon {
    width: 24px;
    height: 24px;
}

.naaav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.nav.active img {

}

.nav p {
    /*font-weight: bold;*/
    margin-top: 10px;
    font-size: 13px;
}

.nav:link {
    text-decoration: none;
}

.nav:visited {
    text-decoration: none;
}

#editor {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#editor form {
    display: flex;
    flex-direction: column;
}


#inputFile::file-selector-button, #submit {
    background: var(--md-sys-color-primary);
    border-radius: 20px;
    color: var(--md-sys-color-on-primary);
    padding: 5px 20px;
    border: none;
}

#inputFile, #submit {
    margin: 10px 0px;
}

#preview {
    width: 100%;
    height: 100%;
    border: none;
}

.content {
    width: 100%;
    height: 100%;
}

/*.content div {*/
/*    height: 100%;*/
/*}*/

body {
    height: 100vh;
}

iframe::content {
    padding: 0;

}

.area {
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    margin: 10px;
    font-family: "JetBrains Mono", serif;
    padding: 0;
    resize: none;
}


#shareButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    bottom: 31px;
    right: 31px;
    width: 56px;
    height: 56px;
    border: none;
    border-radius: 14px;

}

#shareButton img {
    padding-right: 8px;
    height: 24px;
    width: 24px;
}

#profile_img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

#userInfo {
    margin: auto;
}

.twos {
    grid-template-columns: 1fr 1fr;
}

.threes {
    grid-template-columns: 0.5fr 2fr 2fr;
}

#files {
    display: grid;
    /*flex-direction: column;*/
    overflow-y: scroll;
    max-height: 100%;
    gap: 12px;
}

#files::-webkit-scrollbar {
    visibility: hidden;
}

.fileButton {
    height: 32px;
    width: 90%;
    margin: auto;
    border-radius: 8px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    border: 1px solid var(--md-sys-color-outline-light);
}

.selected {
    background: var(--md-sys-color-secondary-container);
}

.filledButton {
    /*height: 40px;*/
    /*width: fit-content;*/
    padding: 10px 24px 10px 24px;
    color: var(--md-sys-color-on-primary);
    border-radius: 100px;
    border: none;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
    grid-gap: 30px;
    max-height: 60%;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    isolation: isolate;
    border-radius: 12px;
    width: 360px;
    height: 96px;
    /*padding: 16px;*/
    background: #FFFBFF;
    border: 1px solid #D6C2C5;
}

.round-avatar{
    border-radius: 100%;
    width: 50px;
    height: 50px;
    object-fit: cover;

}

.column{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;

}

.space-bt{
    justify-content: space-between;
}

p{
    margin: 0;
}

.fill-width-card{
    width: 192px;
    margin: 0 10px;
}

.end-card{
    height: 100%;
    width: 80px;
    border-radius: 0 10px 10px 0;

    object-fit: cover;
}

.in-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 16px;

}

/* Стили формы */
form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
  font-weight: 500;
}

input[type="text"],
input[type="tel"],
input[type="number"],
textarea{
  width: 100%;
  padding: 10px 0;
  margin-bottom: 20px;
  border: none;
  border-radius: 4px;
  background-color: #f5f5f5;
  color: var(--md-sys-color-on-surface);
  resize: vertical;
}

input[type="file"] {
  margin-bottom: 20px;
}

input[type="submit"] {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--md-sys-color-primary);
  color: var(--md-sys-color-on-primary);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:focus {
  outline: none;
}


input[type="date"] {
  width: 100%;
  padding: 10px 0px;
  margin-bottom: 20px;
  border: none;
  border-radius: 4px;
  background-color: #f5f5f5;
  color: var(--md-sys-color-on-surface);
}

/* Стили для области даты */
input[type="date"]::-webkit-calendar-picker-indicator {
  color: var(--md-sys-color-primary);
  font-size: 14px;
  padding: 4px;
  cursor: pointer;
}

input[type="date"]::-webkit-datetime-edit-day-field:focus,
input[type="date"]::-webkit-datetime-edit-month-field:focus,
input[type="date"]::-webkit-datetime-edit-year-field:focus {
  outline: none;
}

